html, body{
    height: 100%;
    width: 100%;
}
div{
    margin: 0px !important;
    padding: 0px !important;
}

a:link{
    text-decoration: none;
    border: none;
}
a:visited{
    text-decoration: none;
    border: none;
}
a:hover{
    font-family:monospace;
}

.h-85{
    height: 85%;
}
.h-32{
    height: 32%;
}
.h-68{
    height: 68%;
}
.w-15{
    width: 15%;
}
.w-14{
    width: 14%;
}
.w-85{
    width: 85%;
}
.title{
    background: url("../images/image3.jpg");
    opacity: 0.9;
}
.txtT{
    font-family:'Times New Roman', Times, serif;
    font-size: 10vw;
    color: rgb(230, 217, 217);
    text-align: center;
}
.menu{
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(36, 39, 45), rgb(87, 94, 100));
    position: fixed;
}
.content{
    margin: 3% 6% 6% 6%;
}
.link1{
    position: absolute;
    height: 8%;
    top: 15%;
}
.link2{
    position: absolute;
    height: 8%;
    top: 25%;
}
.link3{
    position: absolute;
    height: 8%;
    top: 35%;
}
.link4{
    position: absolute;
    height: 8%;
    top: 45%;
}
.link5{
    position: absolute;
    height: 8%;
    top: 55%;
}
.link6{
    position: absolute;
    height: 8%;
    top: 65%;
}
.link7{
    position: absolute;
    height: 8%;
    top: 85%;
}
.tLinkInfo{
    text-align: center !important;
    color: rgba(245, 245, 245, 0.716) !important;
    font-size: 1.5vw;
    margin-top: 5%;
}
.tLink{
    text-align: center !important;
    color: whitesmoke !important;
    font-size: 1.5vw;
    margin-top: 5%;
}